################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharp_Sample/.vs/CSharp_Sample/v16
